doctype html
html
  head
    title GCloud Billing Info
    
  body
    h1 Hi #{name},
    p Project Name: #{projectName}
    p Project ID: #{projectId}
    p Billing Account Name: #{billingAccountName} 
    p Is Billing Enabled: #{billingEnabled}
    p Total cost: #{cost}
